<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if liked == True %}
    <svg class="icon-star" style="fill: blue;">
        <use xlink:href="#icon-star"></use>
    </svg><span class="numero" style="color: blue;">{{likes}}</span>
    {% else %}
    <svg class="icon-star" style="fill: #999999;">
        <use xlink:href="#icon-star"></use>
    </svg><span class="numero" style="color: #999999;">{{likes}}</span>
    {% endif %}
</body>

</html>